<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name"></label>
    <input id="name" type="text" class="form-control" [(ngModel)]="image.imageName" name="name"
           placeholder="Image name..">
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Image quality</mat-label>
      <mat-select matNativeControl required [(ngModel)]="image.imageQuality" name="quality">
        <mat-option *ngFor="let quality of qualityList" [value]="quality">{{quality}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-form-field class="chip-list">
    <mat-label>Image tags..</mat-label>
    <mat-chip-list #chipList aria-label="Tag selection">
      <mat-chip *ngFor="let tag of image.tags" [selectable]="selectable"
                [removable]="removable" (removed)="removeTag(tag)">
        {{tag.tag}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="New tag..."
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="addTag($event)">
    </mat-chip-list>
  </mat-form-field>
  <div class="form-group">
    <label for="description"></label>
    <textarea id="description" cols="30" rows="10" class="form-control" [(ngModel)]="image.imageDescription"
              name="description" placeholder="Image description.."></textarea>
  </div>
  <div class="form-group">
    <label for="file"></label>
    <input #fileUpload id="file" type="file" name="file" class="form-control"
           accept="image/*"
           (change)="onFileSelect($event)">
  </div>
  <div *ngIf="imgUrl">
    <img [src]="imgUrl" width="100" height="80" alt="_blank"/>
  </div>
  <div>
    <button class="btn">Submit</button>
  </div>
</form>
