<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name"></label>
    <input id="name" type="text" class="form-control" [(ngModel)]="image.imageName" name="name"
           placeholder="Image name..">
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Image quality</mat-label>
      <mat-select matNativeControl required [(ngModel)]="image.imageQuality" name="quality">
        <mat-option *ngFor="let quality of qualityList" [value]="quality">{{quality}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!--  <app-add-tag></app-add-tag>-->
  <div class="form-group">
    <label for="description"></label>
    <textarea id="description" cols="30" rows="10" class="form-control" [(ngModel)]="image.imageDescription"
              name="description" placeholder="Image description.."></textarea>
  </div>
  <div class="form-group">
    <label for="file"></label>
    <input #fileUpload id="file" type="file" name="file" class="form-control" accept="image/*"
           (change)="onFileSelect($event)">
  </div>
<!--  <div *ngIf="imageCondition">-->
  <div *ngIf="imgUrl">
    <img [src]="imgUrl" width="100" height="80" alt="_blank"/>
  </div>
  <div>
    <button class="btn">Submit</button>
  </div>
</form>


<!--tag iskelt is component-->
<!--//[(ngModel)]="image.imageName" name="name"-->
