<div class="image" xmlns="http://www.w3.org/1999/html">
  <h3>Name: {{image?.imageName}}
    <fa-icon
      (click)="onDelete(image)"
      [icon]="faTimes"
    ></fa-icon>
  </h3>
  <img [src]="'data:image/jpg;base64,' + image.file" width="100" height="80" alt="_blank"/>
  <p>Description: <b>{{image?.imageDescription}}</b></p>
  <p>Quality: <b>{{image?.imageQuality}}</b></p>
  <div>Upload date: <b>{{image?.uploadDate}}</b></div>
  <div>Tags: <b>{{image?.tags}}</b></div>
  <app-button text="Edit" [routerLink]="'/edit/' + image.id"></app-button>
</div>
