<app-add-image></app-add-image>
<div class="input-group">
  <div class="form-outline">
    <input type="search" id="form1" class="form-control" placeholder="Search" [(ngModel)]="keyword"
           name="keyword"/>
    <button type="button" class="btn btn-primary" (click)="onSearch()">
      <fa-icon
        [icon]="faSearch"
      ></fa-icon>
    </button>
  </div>
</div>
<div class="row">
  <app-image-item
    *ngFor="let image of images"
    [image]="image"
    (onDeleteImage)="deleteImage(image)" class="col-xl-3 col-lg-4 col-sm-6">
  </app-image-item>
</div>
